* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
  }

body {
    margin: 0 auto; 
    max-width: 1024px;
    line-height: 1.5; 
    /* below is used as an example */ 
    display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #093145;
  line-height: 1.2;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none; 
    text-transform: uppercase;
    color: black;
}

nav {
    font-family: "Roboto", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em; 
    background-color:rgb(245, 249, 250);
    padding: 25px; 
}

h3, p {
    margin: 1em 1em;
    
}

h1, .top-nav {
    text-align: center;
}

.top-nav, .top-nav li {
    width: 100%; 
}

h1 a, .top-nav a {
    color: #000;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 20px;
    height: 100px;
    background-color: #107896;
  }

.top-nav {
    margin-top: 30px;
}

.top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: #fff; 
}

.top-nav a {
    text-transform: uppercase; 

}

.col {
    margin: 10px;
    min-height: 250px; /* temporary until img come in */
    color: black;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px; 
}

.col img {
    width: 100%;
}

.box-1 {
    background-color: rgb(245, 249, 250); 
}
.box-2 {
    background-color: rgb(245, 249, 250);
}
.box-3 {
    background-color: rgb(245, 249, 250);
}
.box-4 {
    background-color: rgb(245, 249, 250);
}
.box-5 {
    background-color: rgb(245, 249, 250);
}
.box-6 {
    background-color: rgb(245, 249, 250);
}
.container {
     max-width: 1100px; 
    padding: 10px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif; 
}

.full {
    display: none;
  }

.intro, #contact {
    text-align: center;
    background-color:rgb(245, 249, 250);
}

.intro p {  
    margin: 1em 1em;
}

.intro img {
    display: block;
    width: 60%;
    margin: 0 auto;
}  

/*                       Flex Containers                  */




/*                       MEDIA QUERIES                    */

@media screen and (min-width: 768px) {
    .top-nav {
        margin-top: 0;
    }

    .top-nav li {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        background-color: transparent; 
    }

    .top-nav li:last-child {
        margin-right: 0;
    }

    .top-nav a {
        color: #000; 
    }

    .container, #contact {
        display: flex;
        flex-wrap: wrap;
    }
    .col, #contact {
        flex-basis: calc(50% - 20px);
    }
/* check this when home */
    #contact {
        align-items: space-around;
        justify-content: space-around;
    }

    .top {
        display: none;
      }
      .full {
        display: inline-block;
        margin-left: 20px;
      }

}

    @media screen and (min-width: 1024px) {
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center; 
        }

        .top-nav, .top-nav li {
            width: initial;
            margin-bottom: 0;
        }

        .col {
            flex-basis: calc(33.333% - 20px);
        }
 
}