* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
  }

body {
    margin: 0 auto; 
    max-width: 1024px;
    line-height: 1.5; 
    /* below is used as an example */ 
    display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  color: black;
  background-color: #fff;
  line-height: 1.2;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none; 
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

nav {
    font-family: "Poppins", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em; 
    background-color:rgb(245, 249, 250);
    padding: 25px; 
}

h3, p {
    margin: 1em 1em;
    
}

h1, .top-nav, h4 {
    text-align: center;
}

.top-nav, .top-nav li {
    width: 100%; 
}

h1 a, .top-nav a {
    color: #000;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 20px;
    height: 100px;
    background-color: #107896;
  }

  h2, .top {
      white-space: nowrap;
    font-size: 15px !important;
    margin: 2em 0;
    
  }
  

.top-nav {
    margin-top: 30px;
}

.top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: #fff; 
}

.top-nav a {
    text-transform: uppercase; 

}

.col {
    margin: 10px;
     /* temporary until img come in */
    color: black;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px; 
}

.col p{
    font-size: 1em;
}

.col img {
    width: 100%;
}

.box-1 {
    background-color: #fff;
}
.box-2 {
    background-color: #fff;
}
.box-3 {
    background-color: #fff;
}
.box-4 {
    background-color: #fff;
}
.box-5 {
    background-color: #fff;
}
.box-6 {
    background-color: #fff;
}
.container {
     max-width: 1100px; 
    padding: 10px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif; 
}

.full {
    display: none;
  }

.intro, #contact {
    text-align: center;
    background-color:rgb(245, 249, 250);
}

.intro p, #portfolio {  
    margin: 2em 2em;
}

.intro img {
    display: block;
    width: 60%;
    margin: 0 auto;
}  
#portfolio {
    flex-grow: 1;
}
#contact {
    margin-top: 1em;
    text-align: center;
}

#contact h4 {
    margin: 2em 3em;
}

/*                       Flex Containers                  */


/*                       MEDIA QUERIES                    */

@media screen and (min-width: 768px) {
    .top-nav {
        margin-top: 0;
    }

    .top-nav li {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        background-color: transparent; 
    }

    .top-nav li:last-child {
        margin-right: 0;
    }

    .top-nav a {
        color: #000; 
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .col, #contact {
        flex-basis: calc(50% - 20px);
    }
   
    .top {
        display: none;
      }
      .full {
        display: inline-block;
        margin-left: 20px;
      }

      .footer-nav {
        flex-basis: initial;
     }

}

    @media screen and (min-width: 1024px) {
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center; 
        }

        .top-nav, .top-nav li {
            width: initial;
            margin-bottom: 0;
        }

        .col {
            flex-basis: calc(33.333% - 20px);
        }
 
}